.no_padding {
    padding: 0;
}
.no_margin {
    margin: 0;
}
.invoice_items {
    margin: 30px 5px;
}
.page_header {
    margin-bottom: 20px;
}
.bg-gradient-primary {
    background-color: #4e73df;
    background-image: linear-gradient(180deg, #3a4040 10%, #2989a7 100%);
    background-size: cover;
}
.img-profile {
    width: 80px;
    height: 70px;
    background: #3a4040;
}

.bg-login-image {
    width: 100%;
    background-position: center;
    background-size: cover;
}
.top-login-image {
    width: 100%;
}
.text-web {
    color: #7f870a !important;
}
.text-gray-900 .strong {
    color: rgb(81, 255, 0);
}

.web_title {
    background-image: url(../img/tw.png);
}

.new_product_add {
    display: flex;
    justify-items: right;
}
